.header-admin {
    width: auto;  
    height: 100px;
  }
  .product-h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .addproduct-form {
      /* border:5px solid black; */
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 1100px;
      margin-top:20px;
      margin-left: 450px;
      margin-bottom: 20px;
      padding: 2em 1em;
      background-color: #d3d3d3;
      border-radius: 25px;
  }
  label{
      text-align: left;
      margin-left: 20px;
      margin-top: 20px;
  }
  h3 {
      text-align: center;
      text-decoration: underline;
      /* margin-top: 20px; */
  }
  
  .addform__text {
      height: 70px;
      margin-left: 20px;
      border-radius: 10px;
  }
  .image-choose{
    margin-left: 20px;
    height: 100px;
  }
  
  .addform__submit {
      margin: 1.5em 0em;
      height: 4em;
      color: white;
      background: #1173D0;
      border: white;
      border-radius: .3em;
  }
  .addform__submit:hover{
      background-color: red;
  }
 